.body{
    background-image: url(fraise2.avif);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

/* -------------------------------navbar-------------------------------- */

.navbar{
    text-align: center;
    background-color: rgb(67, 8, 8);
}

.navbar .navbar-toggler{
    color: gray;
}


.navbar a{
    color: white;
    
}

.navbar a:hover,
.navbar a:active{
color: white;
}

/* --------------------------------home---------------------------------------------- */

.left1{
    background: wheat;
    height: 250px;
    width: 350px;
     padding-top: 15px; 
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.left1 button{
 margin-left: 150px;
 margin-top: 10px;
}

.img-fluid{
    position: relative;
    margin-left: 250px;
    width: 100%;
    height: 100%;
}

/* ----------------------------------------promise---------------------------------------------- */

#promise{
    background: rgba(103, 31, 31, 0.8);
    padding: 20px;
}

.promise1{
    background: wheat;
    padding: 50px;
    width: 200px;
    border-radius: 5px;
    border: 10px solid rgba(103, 31, 31, 0.8);
}

/* -------------------------------------------footer------------------------------------------------ */

#footer{
    padding: 30px;
    text-align: center;
    color: white;
    background: rgb(31, 6, 6);
}

/* ----------------------------------------about-------------------------------------------- */
.bas{
    background: wheat;
    width: 500px;
    border-radius: 5px;
    margin-left: 100px;
    padding: 20px;
    margin-top: -50px;
    position: relative;
    z-index: 1;
}

.bas p{
    font-size: 12px;
}

.img-fluid1{
    position: relative;
}

/* --------------------------------------------produits--------------------------------------------------- */
.product{
margin-top: 100px;
}


.top1{
    background: wheat;
    padding: 20px;
    width: 300px;
    margin-left: 450px;
    border-radius: 5px;
    position: absolute;
    margin-top: -40px;
    z-index: 1;
    
}

.bottome1{
    background: wheat;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-top: -50px;
}

.img-fluid2{
    width: 80%;
    height: 400px;
    margin-left: 50px;
    position: relative;

}


.top2{
    background: wheat;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    position: absolute;
    margin-top: -40px;
    z-index: 1;
    
}

.bottome2{
    background: wheat;
    padding: 20px;
    width: 300px;
    margin-left: 450px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-top: -50px;
}